.htaccess
*.htaccess
*.sql
!sql_tasks/create_txns.sql
*.pyc
settings_local.py
wp-config.php
wp-content/cache/*
*.zip
*.png
*.jpg
*.gif
*.jpeg
*.eot
*.svg
*.ttf
*.woff
wp-content/plugins/bwp-minify/cache/*
